*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
}
h1{
    margin: auto;
}
/* #locationDrop{
    position: relative;
    color: black;
    left: 45%;
} */

main{
    width: 100vw;
}
body{
    width: 100%;
}

#locationSpec{
    /* position: relative;
    left: 50%; */
    display: none;
    /*TODO IMPLEMENT THING TO SHOW THE LOCATION*/
}

/*TODO REPOSITION DROPDOWN*/

#page-title{
    font-size: 64;
    display: table;
    margin: 40px auto;
}

#nav-bar{
    width: 99%;
    margin: 5px auto;
    height:80px;
    background-color: #2F3242;
    border-radius: 5px 5px 5px 5px;
}


.nav-bar-link {
    top: 30px;
    user-select: none;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: transform 0.3s ease;
    font-weight: 300;
    line-height: 80px;
}

  .nav-bar-link:hover{
      transform: scale(1.05);
      opacity: 0.7;
      text-decoration: underline;
      text-decoration-color: black;
      text-decoration-style: solid;
      cursor: pointer;
  }

  #nav-pic{
      position: fixed;
      right: 20px;
      width: 70px;
      height: 70px;
      top: 10px;
  }
  form{
      font-size: 28px;
      margin: 120px auto;
      display: table;
      width: 600px;
      height: 200px;
}



  form p{
      display: table-row;
  }

  form p label{ 
      
      display: table-cell;
  }
  form p input{
      height: 32px;
      display: table-cell;
  }