*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nav-bar{
    width: 100%;
    height:80px;
    background-color: #2F3242;
}


.nav-bar-link {
    top: 30px;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: transform 0.3s ease;
    font-weight: 300;
    line-height: 80px;
}

  .nav-bar-link:hover{
      transform: scale(1.05);
      opacity: 0.7;
      text-decoration: underline;
      text-decoration-color: black;
      text-decoration-style: solid;
      cursor: pointer;
  }


  #nav-pic{
      position: fixed;
      right: 10px;
      width: 70px;
      height: 70px;
      top: 5px;
  }






  #home-content{
      width: 80%;
      height: 700px;
      background-color: blue;
      margin: 50px auto;
      display: grid;
      grid-template-columns: 50% 50%;
  }

  #content-pic{
      height: 100%;
  }
  #summaries{
      width: 70%;
      height: 90%;
      margin: 50px auto;
      display: grid;
      grid-template-rows: 33.3333%, 33.33333%, 33.33333%;
  }

  #summaries p{
      font-size: 30px;
  }
  #summaries h1{
    font-size: 50px;
  }

  .summary{
      transition:  transform 0.3s ease;
  }

  .summary:hover{
      transform: scale(1.1);
  }