*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
}


#nav-bar{
    width: 99%;
    margin: 5px auto;
    height:80px;
    background-color: #2F3242;
    border-radius: 5px 5px 5px 5px;
}

.nav-bar-link {
    top: 30px;
    user-select: none;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: transform 0.3s ease;
    font-weight: 300;
    line-height: 80px;
}

  .nav-bar-link:hover{
      transform: scale(1.05);
      opacity: 0.7;
      text-decoration: underline;
      text-decoration-color: black;
      text-decoration-style: solid;
      cursor: pointer;
  }



  #nav-pic{
    position: fixed;
    right: 20px;
    width: 70px;
    height: 70px;
    top: 10px;
}






  #home-content{
      width: 80%;
      height: 700px;
      margin: 50px auto;
      display: grid;
      grid-template-columns: 50% 50%;
  }

  #content-pic{
      height: 100%;
  }
  #summaries{
      width: 70%;
      height: 90%;
      margin: 50px auto;
      display: grid;
      grid-template-rows: 33.3333%, 33.33333%, 33.33333%;
  }

  #summaries p{
      font-size: 25px;
  }
  #summaries h1{
    font-size: 50px;
  }

  .summary{
      transition:  transform 0.3s ease;
  }

  .summary:hover{
      transform: scale(1.1);
  }
  #social{
      width: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
  }
  #social div{
      margin: auto;
      transition: transform 0.3s ease;
  }
  #social div:hover{
      cursor: pointer;
      transform: scale(1.05);
  }

  #social {
      line-height: 20px;
  }

  #social img{
      width: 20px;
      height: 20px;
  }